<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Signing In</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
  <script src="/static/js/initFirebase.js"></script>
  <script src="/static/js/admin/signInOutWithGoogle.js"></script>
  <script src="/static/js/admin/script.js"></script>

</head>
<body>
    <div class="container">
        <article class="message">
            <div class="message-header">
                <p>Redirection</p>
            </div>
            <div id="message_body" class="message-body">
                Processing...
            </div>
        </article>
    </div>
</body>