<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Nozama</title>
    <link rel="shotcut icon" href="/static/img/nozama_logo.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Raleway:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/vendor/cropper.css">
    <link rel="stylesheet" href="/static/js/vendor/raty/jquery.raty.css">
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body class="page page-main">
    <nav class="main-nav">
        <div class="nav-left">
            <a href="#" class="btn btn-outline-light">How to use</a>
            <a href="#" class="btn btn-outline-light">How it works</a>
        </div>
        <div class="nav-logo"><a href="/" class="logo"><span><img src="/static/img/nozama_logo.png" alt="Nozama"></span></a></div>
        <div class="nav-right">
            <!-- <a href="#" class="btn btn-how-to-use btn-outline-light" data-fancybox data-src="#dialog-how-to-use">How to use</a> -->
            <a href="#" class="btn btn-outline-light btn-how-to-use">How to use</a>
            <a href="#" class="btn btn-outline-light btn-how-it-works">How it works</a>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer>
        <p>Copyright 2019.</p>
        <p>A project by <br />
            <a href="https://github.com/jodythai" class="jody nicer-font-please">Binh-Duong Thai</a>
        </p>
    </footer>

    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.0/firebase-analytics.js"></script>
    <script src="/static/js/initFirebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
    <script src="/static/js/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/static/js/vendor/cropper.min.js"></script>
    <script src="/static/js/vendor/jquery-cropper.min.js"></script>
    <script src="/static/js/vendor/raty/jquery.raty.js"></script>
    <script src="/static/js/script.js"></script>
</body>

</html>