{% extends "base.html" %} {% block content %}
<div class="container-fluid container-main-wrapper fixed-height">
    <div class="row">
        <div class="col">
            <div class="container container-main">
                <div class="row">
                    <div class="col col-main-intro">
                        <div class="main-intro">
                            <h1 class="title">Welcome to Nozama!</h1>
                            <h2 class="subtitle">Give us a product photo, we will recommend 4 & 5 stars similar products from Amazon, that simple!</h2>
                            <h3 class="notes">Make sure you know <a href="#" class="btn-how-to-use">how to use the service</a>.</h3>
                        </div>

                        <div class="main-form">
                            <div class="box-img-cropper hidden">
                                <div id="img-preview-container">
                                    <h4 class="title">Crop the image</h4>
                                    <img src="#" alt="" id="preview-image">
                                </div>
                                <!-- <div class="img-preview preview-lg hidden"></div> -->
                            </div>

                            <div id="form-upload-image-container">
                                <form action="post" id="form-upload-image" enctype="multipart/form-data">
                                    <input type="file" name="file" id="file" class="hidden" onclick="this.value=null;">
                                    <a href="#" class="btn btn-primary btn-lg" id="btn-select-image">Select your photo</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hidden" id="recommendation-results">
                    <div class="col">
                        <div class="products-list">
                            <div class="card-columns" id="products_html">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section-recommendation-results-buttons hidden">
    <div class="container">
        <div class="your-photo"><img src="" alt="" /></div>
        <a href="#" class="btn btn-outline-primary btn-select-new-image">Select new photo</a>
    </div>
</section>

<section class="section-main-buttons hidden">
    <p>Please select the area covering your product and click Upload.</p>
    <div class="buttons">
        <a href="#" class="btn btn-outline-primary btn-select-new-image">Select new photo</a>
        <a href="#" class="btn btn-primary" id="btn-upload-image">Upload</a>
    </div>
</section>

<div class="loading hidden">
    <p><img src="/static/img/loading.gif" alt="Loading..."></p>
    <p>Hello there!<br /> I'm Nozama's Pinky AI<br /> I'm working hard for your service...<br />Beep-Boop-Beep-Boop</p>
</div>

<div style="display: none;" id="dialog-how-to-use">

</div>

<div class="modal fade" id="modal-how-to-use" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h2>How to use</h2>

                <div class="instructions">
                    <ul>
                        <li>
                            <p><img src="static/img/step-1.jpg" alt=""><span>Step 1</span></p>
                            <h5>Click on "Select Your Photo" button, then select your photo.</h5>
                        </li>
                        <li>
                            <p><img src="static/img/step-2.jpg" alt=""><span>Step 2</span></p>
                            <h5>Crop the image to select the product you want.</h5>
                        </li>
                        <li>
                            <p><img src="static/img/step-3.jpg" alt=""><span>Step 3</span></p>
                            <h5>Click "Upload" button.</h5>
                        </li>
                    </ul>
                </div>
                <p class="notes">Currently the web app supports the following product's categories:</p>
                <div class="categories">
                    <ul>
                        <li><img src="static/img/clothing.jpg" alt="Clothing">
                            <h5>Clothing</h5>
                        </li>
                        <li><img src="static/img/pets.jpg" alt="Pets">
                            <h5>Pets</h5>
                        </li>
                        <li><img src="static/img/shoes.jpg" alt="Clothing">
                            <h5>Shoes</h5>
                        </li>
                        <li><img src="static/img/watches.jpg" alt="Clothing">
                            <h5>Watches</h5>
                        </li>
                        <li><img src="static/img/home_kitchen.jpg" alt="Clothing">
                            <h5>Home & Kitchen</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-how-it-works" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                <h2>How it works</h2>

                <div class="dialog-head">
                    <img src="/static/img/nozama-diagram.jpg" alt="">
                </div>

                <div class="explanation">
                    <p>The project works based on Image Recommendation with Convolution Neural Network solution. </p>
                    <p><strong>Model:</strong> VGG16 is a popular CNN model used for this solution, but its size is too heavy (1.1GB) for a small web app. In order to deploy the project to an affordable web application environment, my CNN model should be
                        small enough yet still maintains its effectiveness. I solve this problem by using Xception model from Google and reducing the computational power by running the k-NN algorithms within only one product category predicting from the
                        classification task. With using Xception, the model size <strong>from 1.1GB to 0.1GB</strong>, enough to run the model on affordable web hosting like Google Cloud Free Tier AppEngine.</p>
                    <p><strong>Data sets:</strong> My data sets contains 40k images (5000 images for each label of 8 labels). </p>
                    <p><strong>Predict Product Category:</strong> For the Product Classification task, I train the Xception model with transfered learning and achieve 82% validation accuracy.</p>
                    <p><strong>Extract Feature Vectors:</strong> The AvgGlobalPooling layer is used to extract all feature vectors of my training images.
                    </p>
                    <p><strong>Build k-NN indexer:</strong> I use Annoy to build the index of all extracted feature vectors and the product ids. Annoy is a memory-optimized k-NN library, it is also used by Spotify to handle their recommendation tasks.</p>
                    <p><strong>Using k-NN engine for similarity retrieval:</strong> When users input (upload) an image, the system will extract the feature vectors and predict the product category that the input image belongs to. Then the k-NN engine will
                        retrieve the nearest 30 feature vectors and their product id in the predicted product category.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}